# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/SupersocksR.VC.VC.opendb
/SupersocksR.VC.db
/SupersocksR/obj/Debug
/SupersocksR/bin/Debug
/SupersocksR
/SkylakeNAT/Debug
/packages
/Debug
/.vs
